<!-- BEGIN NAVIGATION -->
<div class="header-navigation">
    <ul>
        <li class="">
            <a {# class="dropdown-toggle" data-toggle="dropdown" data-target="" #} href="/_shop.php">
            Shop
            </a>
            {#
              <!-- BEGIN DROPDOWN MENU -->
            <ul class="dropdown-menu">
                <li><a href="_list.php">Trauerkerzen</a></li>
                <li><a href="_list.php">Blumenschmuck</a></li>
                <li><a href="_list.php">Gedenkkerzen</a></li>
                <li><a href="_list.php">Grablichter</a></li>
            </ul>
            <!-- END DROPDOWN MENU -->
            #}
        </li>
        <li class="active"><a href="/_index.php">Traueranzeigen</a> </li>
        <li><a href="#">Trauerforum</a></li>
        <li><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">News & Rat</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">Verzeichnis</a>
            <ul class="dropdown-menu">
                <li><a href="shop-index.html">Lorem</a></li>
                <li><a href="shop-index-header-fix.html">Ipsum</a></li>
            </ul>
        </li>
        <li><a href="_detail.php">Vorsorge</a></li>
    </ul>
</div>
<!-- END NAVIGATION -->
