# app
app/config/parameters.yml
app/bootstrap.php.cache

# binaries
bin/*
!bin/console
!bin/symfony_requirements

# build information
build/

# var
var/cache/*
var/logs/*
var/bootstrap.php.cache
var/sqlite.db.cache
var/SymfonyRequirements.php
!var/cache/.gitkeep
!var/logs/.gitkeep

# vendor
vendor/

# web
web/bundles/
web/css
web/js
!web/css/.gitkeep
!web/js/.gitkeep

# IDEs
/.idea
/.settings
/.buildpath
/.project

# general
composer.phar
src/Neos
*.bak
!.gitkeep
