# app
app/config/parameters.yml
app/bootstrap.php.cache
app/cache
app/logs

# mediastore
mediastore

# binaries
bin/*
!bin/console
!bin/git-hooks
!bin/symfony_requirements
!bin/composer.phar
!bin/phpdox.phar

# build information
build/

# var
var/cache/*
var/debug/*
var/logs/*
var/bootstrap.php.cache
var/sqlite.db.cache
var/SymfonyRequirements.php
!var/cache/.gitkeep
!var/debug/.gitkeep
!var/logs/.gitkeep

# vendor
vendor/

# web
web/bundles/
web/css
web/js
web/imagecache/
!web/css/.gitkeep
!web/js/.gitkeep

# IDEs
/.idea
/.settings
/.buildpath
/.project

# general
/composer.phar
src/Neos
*.bak
!.gitkeep

.rules
