web/bundles/
web/css/*
web/js/*
app/config/parameters.yml
var/bootstrap.php.cache
app/bootstrap.php.cache
var/SymfonyRequirements.php
var/cache/*
var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
build/
vendor/
bin/*
!bin/console
!bin/symfony_requirements
composer.phar
.idea
src/Neos
*.bak
var/sqlite.db.cache
