<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <a class="site-logo" href="_index.php">
            <img src="{{ asset('bundles/aspetosfrontend/assets/corporate/img/logos/aspetos-logo.png') }}" alt="Metronic Shop UI">
        </a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
        {{ render(controller('AspetosShopBundle:Shop:nanoCart')) }}

        {% block navigation %}
            <!-- BEGIN NAVIGATION -->
            <div class="header-navigation">
                {{ knp_menu_render('main', {'style': 'navbar', 'template': 'AspetosFrontendBundle:Menu:main.html.twig', 'currentClass':'active', 'ancestorClass': 'active', 'firstClass': 'start'}) }}
            </div>
            <!-- END NAVIGATION -->
        {% endblock %}
    </div>
</div>
<!-- Header END -->
