{% extends 'AspetosFrontendBundle:Catalog:catalog.html.twig' %}

{% block listAndPagination %}
    <div class="isotope-list mortician-list">
        {% include 'AspetosFrontendBundle:Catalog:morticianItems.html.twig' %}
    </div>
{% endblock %}

{% block javascriptDocReady %}
    Aspetos.initListFilterAndAjaxLoading(
        '.isotope-list',
        '.product-item-wrapper',
        '#filterForm',
        '{{ path('aspetos_frontend_catalog_morticianitems') }}'
    );
{% endblock %}