<div class='col-md-6'>
    <label for='supplierTypeFilter'>{{ 'Supplier Types'|trans }}: </label>
    <select multiple id='supplierTypeFilter' name='supplierTypes[]'>
        {% for supplierType in supplierTypes %}
            <option value='{{ supplierType.id }}'>{{ supplierType.name }}</option>
        {% endfor %}
    </select>
</div>