.login {
    background-color: inherit !important;
}

.menu-header span {
    font-weight:bold !important;
}

.menu-header {
    background-color:#F8F8F8;
}

.menu-header:hover {
    background-color:#F8F8F8 !important;
    cursor: default !important;
}


