{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}

{% block sidebar %}
    {{ knp_menu_render('shop_category_sidebar') }}
{% endblock %}

{% block content %}
    <h1>Beliebte Produkte</h1>
    {{ render(controller('AspetosShopBundle:Shop:popularProducts')) }}
{% endblock %}
