{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}

{% block content %}
    <form id='filterForm'>
        <div id='filters' class='row'>
            {{ macros.districtFilter(districts) }}

            <div class="pull-right">
                <label class="control-label">Sortierung:</label>
                <select class="form-control input-sm grid-v1-SortSelect sort" name="sort">
                    <option selected="selected" value="default">Hinzugefügt</option>
                    <option value="myorder:desc">Sterbetag</option>
                    <option value="myorder:asc">Sterbetag (Ältere zuerst)</option>
                </select>
            </div>
        </div>
    </form>

    <div class="isotope-list obituary-list">
        {% include 'AspetosFrontendBundle:Default:items.html.twig' %}
    </div>
    <div class='scroll-visibility-helper'></div>

    created_at DESC
    deathdate ASC/DESC

    zählen => alle aktiven kerzen
    anzeigen => nur brennende mit ausnahme bezahlte (+4 Wochen als ausgebrannt angezeigt)
{% endblock %}

{% block javascriptDocReady %}
    Aspetos.initListFilterAndAjaxLoading(
        '.isotope-list',
        '.product-item-wrapper',
        '#filterForm',
        '{{ path('aspetos_frontend_default_items') }}'
    );
{% endblock %}
