{% extends 'AspetosAdminBundle:Layout:master.html.twig' %}

{% block content %}
    {{ crudObject.name }}

    <img src="{{ crudObject.logo|cwdImage.cropResize(100) }}" />

    <p>
    {% if (is_granted('edit', crudObject)) %}
        GRANTED
    {% else %}
        YOU SHALL NOT PASS
    {% endif %}
    </p>
{% endblock %}
