{% extends 'AspetosAdminBundle:Layout:master.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if obituary is not null %}
                {% set title = 'Candles for %s' %}
            {% else %}
                {% set title = 'Candles' %}
            {% endif %}
            {% embed "CwdAdminMetronicBundle:Helper:portlet.html.twig" with {'title': title, 'titleOptions': obituary.firstname ~ ' ' ~ obituary.lastname ~ ' († ' ~ obituary.dayOfDeath.format('d.m.Y') ~ ')', 'icon': icon} %}
                {% block body %}
                    {{ datatable({
                        'main_template':    'CwdAdminMetronicBundle:Grid:grid.html.twig',
                        'js' : {
                            'sAjaxSource' : path('aspetos_admin_candle_ajaxgrid', { "morticianId" : morticianId, "obituaryId": obituaryId}),
                            'aoColumnDefs' : [
                                {
                                    'aTargets': [0],
                                    'sWidth' : '40px',
                                    'sClass' : 'text-right'
                                },
                                {
                                    'aTargets': [3],
                                    'sWidth': '50px',
                                    'sClass' : 'text-right'
                                },
                                {
                                    'aTargets': [-1, -5],
                                    'sWidth' : '60px',
                                    'sClass' : 'text-center'
                                },
                                {
                                    'aTargets': [-2, -3],
                                    'sWidth' : '120px',
                                    'sClass' : 'text-right'
                                },
                                {
                                    'aTargets': [-1],
                                    'orderable': false
                                }
                            ]
                        }
                    })
                    }}
                {% endblock %}
                {% block actions %}
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="#" data-toggle="dropdown">
                            {{ "Columns"|trans }} <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu hold-on-click dropdown-checkboxes columnToggler">
                        </div>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default btn-sm refreshGrid" href="#"><i class="fa fa-refresh"></i> {{ "Refresh"|trans }}</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm fullscreen" href="#" data-original-title="" title=""><i class="fa fa-expand"></i></a>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block javascriptSection %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.ajaxCall', function(e){
                e.preventDefault();
                var target = $(this).attr('href');
                $.get(target, function(result) {
                    if (result.success) {
                        $("a.refreshGrid").click();
                        toastr.success("OK", result.message);
                    } else {
                        toastr.error("ERROR", result.message);
                    }
                })
            });
        });
    </script>
{% endblock %}
